webhook.green-web-analyzer.eu {
	reverse_proxy localhost:9000
}

backend.green-web-analyzer.eu {
	reverse_proxy localhost:5000
}

green-web-analyzer.eu {
	handle {
		root * /srv
		try_files {path} /
		file_server
	}
}
